/*******************************************************************************************/
/*******************************************************************************************/

@font-face {
  font-family: 'Berlin Sans FB';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/BRLNSR.woff') format('woff');
}

@font-face {
  font-family: 'Berlin Sans FB Bold';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/BRLNSB.woff') format('woff');
}

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  src: url('fonts/noto-sans-v9-latin-regular.eot');
  src:
    url('fonts/noto-sans-v9-latin-regular.eot') format('embedded-opentype'),
    url('fonts/noto-sans-v9-latin-regular.svg') format('svg');
}

/*******************************************************************************************/
/*******************************************************************************************/

/* Général */
body {
  font-size: 20px;
  color: #FBFBFB;
  background-color: #243563;
  font-family: 'Noto Sans', 'Times New Roman', serif;
}

p {
  line-height: 1.5;
  margin: 30px 0;
}

h1,
h2,
h3 {
  font-weight: 700;
  font-family: 'BRLNSR', 'BRLNSB', Arial, sans-serif;
  color: #F2B237
}

.titlePage {
  margin: 2em 0;
  text-align: left;
  text-decoration: underline;
}

hr {
  border-top: 1px solid #121119;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

a {
  color: rgb(242, 178, 55);
  transition: all 0.2s;
}

a:focus,
a:hover {
  color: #FBFBFB;
}

form {
  position: relative;
  margin: 0px auto 50px auto;
}



.hMain {
  height: 80vh;
}



/*******************************************************************************************/
/*******************************************************************************************/

/* Navigation */
#mainNav {
  border-bottom: 1px solid #121119;
  background-color: #243563;
  font-family: 'Noto Sans', Arial, sans-serif;
}


#mainNav .navbar-brand {
  font-weight: 800;
  color: #343a40;
}

.navbar-light .navbar-toggler {
  color: rgb(242, 178, 55);
  border-color: rgb(242, 178, 55);
}

.navbar-light .navbar-nav .nav-link {
  color: #FBFBFB;
}

#mainNav .navbar-nav>li.nav-item>a {
  font-size: 15px;
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  padding: 20px;
}

/*******************************************************************************************/
/*******************************************************************************************/

/* Header */
header.masthead .site-heading h1 {
  font-size: 30px;
  font-family: 'Berlin Sans FB', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align: center;
}

header.masthead .page-heading .subheading,
header.masthead .site-heading .subheading {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.1;
  display: block;
  margin: 10px 0 0;
  font-family: 'Berlin Sans FB', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align: center;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box div {
  width: 100%;
  margin: auto;
}

/*******************************************************************************************/
/*******************************************************************************************/
/* Main --> Homme*/
img {
  width: 100%;
}

.how-section1 {
  margin-top: -15%;
  padding: 10%;
}

.how-section1 h4 {
  color: #ffa500;
  font-weight: bold;
  font-size: 30px;
}

.how-section1 .subheading {
  color: #fbfbfb;
  font-size: 20px;
}

.how-section1 .row {
  margin-top: 10%;
}

.how-img {
  text-align: center;
}

.how-img img {
  width: 70%;
  height: auto;
}

/* News*/
.block {
  padding: 10px;
  margin: 40px 10px 40px 0;
  color: #fbfbfb;
  border-bottom: 1px solid #fbfbfb !important;
  border-top: 1px solid #fbfbfb !important;
  margin: 50px 0;
}

/* Programmation */

.card {
  background-color: #121119 !important;
  color: #fbfbfb !important;
}

.card-img-top {
  height: 400px;
}


.lienFilm {
  text-align: end;
}

.lienFilm .btn {
  background-color: rgb(242, 178, 55) !important;
  border: none;
  border-radius: 10px;
}


/* Map -> Nous trouver */

.overMain {
  overflow: hidden;
}

.maps {
  padding: 0px;
}

iframe {
  width: 100%;
  height: 500px;
}

/* text -> Nous trouver */
.textPosition {
  padding: 10px 30px;
  text-align: center;
}

.text-white ul li {
  list-style-type: none;
}

/*******************************************************************************************/
/*******************************************************************************************/
/* Footer */
footer {
  padding: 15px 0;
  border-top: 1px solid #fbfbfb;
}

footer p {
  margin: 0px auto;
}

footer .list-inline {
  margin: 0;
  padding: 0;
}

footer .copyright {
  color: #FBFBFB !important;
  text-align: center;
  border-top: 1px solid #fbfbfb;
  padding-top: 20px;
}




.btn-primary {
  background-color: #f2b237;
  border-color: #f2b237;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  color: #fff;
  background-color: #f2b237 !important;
  border-color: #f2b237 !important;
}

.btn-lg {
  font-size: 16px;
  padding: 25px 35px;
}


.footer-classic a,
.footer-classic a:focus,
.footer-classic a:active {
  color: #ffffff;
}



/*******************************************************************************************/
/*******************************************************************************************/

/* Responsive >= 992px */
/* NAVIGATION */
@media only screen and (min-width: 992px) {

  #mainNav .navbar-brand {
    padding: 10px 20px;
    color: #fff;
  }


  #mainNav .navbar-nav>li.nav-item>a {
    padding: 10px 20px;
    color: #fff;
  }

  .centerImage {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .programmationImage {
    width: 100%;
    height: 500px;
  }


}

/* SLIDER */
header.masthead {
  margin-bottom: 50px;
  background: no-repeat center center;
  background-color: #868e96;
  background-attachment: scroll;
  position: relative;
  background-size: cover;
  height: 100vh;
}

header.masthead .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #212529;
  opacity: 0.5;
}

header.masthead .page-heading,
header.masthead .post-heading,
header.masthead .site-heading {
  color: white;
}


/* Responsive >= 768px */
@media only screen and (min-width: 768px) {

  header.masthead .page-heading h1,
  header.masthead .site-heading h1 {
    font-size: 60px;
  }

  form {
    padding: 0px;
  }

  .positionNav {
    margin-bottom: 0px !important;
  }

  .maps {
    padding: 0px 0px -10px 0px !important;
  }

  iframe {
    width: 100%;
    height: 40vh;
  }

  .textPosition {
    text-align: justify;
  }

  .text-white ul {
    padding: 0;
  }

  .overMain {
    height: 85vh;
  }

}

/* Responsive <=7680px */
@media (max-width: 768px) {
  footer {
    text-align: center;
  }

  footer ul {
    list-style: none;
  }
}

/* Responsive >=320px */
@media only screen and (min-width: 320px) {

  #mainNav .navbar-brand img {
    width: 100px;
    height: 50px;
  }

  form {
    padding: 20px;
  }
}